html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font-family: "Oxygen", sans-serif;
  vertical-align: baseline;
}

body {
  background: url(./images/bookCoverBg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#root {
  display: grid;
  grid-template-areas:
    "buttonDiv"
    "auth-details"
    "inputDiv"
    "submit";
}

#buttonDiv {
  grid-area: buttonDiv;
}

#auth-details {
  grid-area: auth-details;
}

#inputDiv {
  grid-area: inputDiv;
}

#submit {
  grid-area: submit;
}

@media only screen and (max-width: 376px) {
  #root {
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: 1fr;
    justify-items: center;
  }

  #buttonDiv {
    margin-top: 75px;
  }

  #buttonDiv > button {
    border: 1px solid #393a3c;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: black;
  }

  #auth-details {
    padding-top: 0px;
    font-size: xx-large;
    font-weight: bolder;
    text-shadow: black;
  }

  #inputDiv {
    margin-top: 40px;
    width: 100%;
  }

  #inputDiv > form > input {
    margin-left: 25px;
    margin-top: 5px;
    width: 80%;
    height: 30px;
    size: 10px;
  }

  #submit > button {
    margin-top: 120px;
    padding: 10px 30px 10px 30px;
    background-color: #393a3c;
    border: 1px solid black;
    border-radius: 5%;
    box-shadow: aliceblue;
  }
}
