/* Styling for the quiz preview page. */

#quizInfo {
    text-align: center;
}

.quiz-info > h2 {
    font-size: 2em;
}

.quiz-info > h3 {
    font-size: 1.2em;
}

.quiz-start-header {
    /* Partially copied from index.css (see: .wrapper .welcome h1) */
    /* position: relative; */
    /* margin: 5em auto 0em; */
    /*   top:37vh; */
    /* width: 50%; */
    /* margin: auto; */
    margin-bottom: 20px;
    text-align: center;
    font-size: 3em;
    color: black;
}

/* copied from index.css (see: .statbtn and .statbtn > button) */
#quizBtnBox {
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.quiz-btn {
  margin: 12em auto;
  text-align: center;
}

.quiz-btn > a > button {
  width: 100px;
  padding: 5px 25px 5px 25px;
  border: 3px solid black;
  border-radius: 5px;
  background-color: #393a3c;
  box-shadow: 2px 2px 5px 2px black;
  font-size: x-large;
}
