.slide-item {
    /* Background styling for list items, plus margins to separate */
    background-color: #5d5f5c;
    border: 2px solid black;
    margin-bottom: 10px;
}

.slide-item > span {
    /* Styling for contents of list items */
    display: flex;
    justify-content: space-between;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
}

span > p {
    /* Make list text semi-bold */
    font-weight: 600;
}

.slide-list-header {
    /* Partially copied from index.css (see: .wrapper .welcome h1) */
    /* position: relative; */
    /* margin: 5em auto 0em; */
    /*   top:37vh; */
    /* width: 50%; */
    /* margin: auto; */
    margin-bottom: 20px;
    text-align: center;
    font-size: 3em;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

.slide-name {
    /* List item p tags are in 3:1:2 ratio */
    flex-grow: 1;
}

.slide-status {
    flex-grow: 1;
    text-align: right;
}

.not-started {
    /* unopened slide */
    color: #D22C2C;
}

.started {
    /* opened but not completed, color subject to change */
    color: yellow;
}

.completed {
    /* slide has been completed */
    color: black;
}