html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 1em;
  font-family: "Oxygen", sans-serif;
}

.wrapper {
  background: url(./images/bookCoverBg.jpg) no-repeat center center local;
  background-size: cover;
  position: relative;
  width: 100%;
  height: 100%;
  margin: 10vh auto;
  max-width: 375px;
  min-width: 375px;
  min-height: 736px;
  max-height: 736px;
  overflow: hidden;
  border: 5px black solid;
  border-radius: 5px;
  box-shadow: 5 9px 5px 0 #000;
  color: white;
}

ul {
  position: relative;
  display: block;
  /*   width:100%; */
  top: 23%;
  left: 11%;
  margin: 8em auto;
  list-style: none;
  padding: 0px;
  font-size: x-large;
  /*   font-weight:bold; */
}

ul > li {
  display: none;
  margin: 1%;
  cursor: pointer;
}
ul > li > a {
  color: white;
}

ul > li > a:link {
  text-decoration: none;
}

.topPart,
.midPart,
.botPart {
  position: absolute;
  top: 0;
  left: -50%;
  right: -50%;
  background: #5d5f5c;
  transform: rotate(0deg);
  display: none;
}

.grow {
  transition: transform 0.161s ease-in-out;
  animation: grow 0.161s ease-in-out;
}
@keyframes grow {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1);
  }
}

.fa-bars {
  display: inline-block;
  position: absolute;
  top: 65px;
  left: 50%;
  width: 1em;
  height: 1em;
  padding: 0;
  vertical-align: middle;
  font-size: 2em;
  border: 0 none;
  background: transparent;
  cursor: pointer;
  z-index: 111;
  transition: transform 0.2s ease-in-out;
}

.fa-bars:before,
.fa-bars:after {
  content: "";
}

.fa-bars:before,
.fa-bars .icon,
.fa-bars:after {
  display: block;
  width: 100%;
  height: 0.2em;
  margin: 0 0 0.2em;

  border-radius: 11px;
  transition: transform 0.2s ease-in-out 0.3s;
  background: 0.2s ease-in-out 0.3s;
}

.fa-bars.bars-cancel.active:before {
  transform: rotate(360deg);
}

.fa-bars.bars-cancel.active:after {
  transform: rotate(-360deg);
}

.welcome {
  position: relative;
  top: 0px;
  width: 100%;
  height: 80%;
  text-align: center;
}

.welcome > h1 {
  margin: 0px;
  /* top: 37vh; */
  font-size: 3em;
  color: white;
}

.welcome > h3 {
  margin-top: 15px;
  font-size: xx-large;
  color: white;
}

.statbtn {
  margin: 3em auto;
  text-align: center;
}

.statbtn > div {
  margin-bottom: 25px;
}

.statbtn > div > h2 {
  margin-bottom: 15px;
}

.statbtn > div > p {
  font-size: 2em;
}

.statbtn > a > button {
  width: 100px;
  margin-top: 35px;
  padding: 5px 25px 5px 25px;
  border: 3px solid black;
  border-radius: 5px;
  background-color: #4267b2;
  box-shadow: 2px 2px 5px 2px black;
  font-size: x-large;
  color: white;
}

#twitter {
  position: absolute;
  left: 20px;
  bottom: 35px;
}

#facebook {
  position: absolute;
  right: 20px;
  bottom: 35px;
}
