.wrapper {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(10, 1fr);
}

#controlBtns {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-around;
}

/* copied from quiz-start.css */
#controlBtns > a > button {
    width: 150px;
    padding: 5px 25px 5px 25px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: #393a3c;
    color: white;
    box-shadow: 2px 2px 5px 2px black;
    font-size: x-large;
    cursor: pointer;
}

#questionInfo {
    /* div containing title, question #, and current question */
    color: white;
    /* background-color: #393a3c; */
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px;
    grid-row: 3 / span 3;
}

#question {
    font-size: 20px;
}

.option-list {
    grid-row: 6 / span 4;
    /* overflow property may be useful for longer answers, but looks bad */
    /* overflow-y: scroll; */
}

.option-item {
    /* Background styling for list items, plus margins to separate */
    margin-left: 10px;
    margin-right: 10px;
    background-color: #D22C2C;
    background-image: linear-gradient(#D22C2C, #6E1B09);
    border: 2px solid #6E1B09;
    border-radius: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

.option-item > li {
    /* Styling for contents of list items */
    display: flex;
    justify-content: space-between;
    padding-left: 6px;
    padding-right: 6px;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

 li {
    /* Make list text semi-bold */
    font-size: 18px;
    font-weight: 600;
}

.quiz-list-header {
    /* Partially copied from index.css (see: .wrapper .welcome h1) */
    /* position: relative; */
    /* margin: 5em auto 0em; */
    /*   top:37vh; */
    /* width: 50%; */
    /* margin: auto; */
    margin-bottom: 20px;
    text-align: center;
    font-size: 3em;
    color: black;
}

a {
    text-decoration: none;
    color: black;
}

.not-attempted {
    /* unopened quiz */
    color: #D22C2C;
}

.completed {
    /* quiz has been completed and submitted before */
    color: black;
}