h1, h2, h3, h4, h5, h6, p, input[type='button'], button {
    color: white;
}

#quitBtn {
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}

/* copied from quiz-start.css */
#quitBtn > a > button {
    width: 150px;
    padding: 5px 25px 5px 25px;
    border: 3px solid black;
    border-radius: 5px;
    background-color: #393a3c;
    box-shadow: 2px 2px 5px 2px black;
    font-size: x-large;
    cursor: pointer;
}

#slideContent {
    text-align: center;
}

.slide-content > h2 {
    font-size: 2em;
}

.slide-content > h3 {
    font-size: 1.2em;
}

.slide-start-header {
    margin-bottom: 20px;
    text-align: center;
    font-size: 3em;
    color: black;
}

#imgbox {
    margin: auto;
    display: flex;
    justify-content: space-around;
}

#imgbox > img {
    width: 250px;
}

/* copied from index.css (see: .statbtn and .statbtn > button) */
#slideNav {
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.nav-btn {
  text-align: center;
}

.nav-btn > a > button {
  width: 100px;
  padding: 5px 25px 5px 25px;
  border: 3px solid black;
  border-radius: 5px;
  background-color: #393a3c;
  box-shadow: 2px 2px 5px 2px black;
  font-size: x-large;
  cursor: pointer;
}
