<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/create.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.0/jquery.min.js"></script>
    <title>Corona Class</title>
  </head>
  <body>
    <div id="root">
      <div id="buttonDiv">
        <a href="/user/login"><button id="logIn">Log In</button></a>
        <button id="signUp">Sign UP</button>
      </div>
      <div id="auth-details">
        <p>Sign Up For Free</p>
        <div><%=msg%></div>
      </div>

      <div id="inputDiv">
        <form action="/user/signup" method="POST">
          <input type="email" id="email" name="email" placeholder="Email" />
          <input
            type="text"
            id="username"
            name="username"
            placeholder="User Name"
          />
          <input
            type="password"
            id="password"
            name="password"
            placeholder="Password"
          />
          <button class="sub-btn" type="submit">Sign Up</button>
        </form>
      </div>
    </div>
    <script src="/js/create.js"></script>
  </body>
</html>
