<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../../public/css/login.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <title>Corona Class</title>
  </head>
  <body>
    <div id="root">
      <div id="buttonDiv">
        <button id="signUp">Sign Up</button>
        <button id="signIn">Sign In</button>
      </div>
      <div id="auth-details"><p>Sign up for Free</p></div>

      <div id="inputDiv">
        <form action="/action_page.php">
          <input type="text" id="username" placeholder="User Name" />
          <br />
          <input type="text" id="password" placeholder="Password" />
          <br />
          <input type="text" id="email" placeholder="Email" />
          <br />
        </form>
      </div>

      <div id="submit">
        <button>Submit</button>
      </div>
    </div>
  </body>
</html>
