<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/user.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css"
    />
    <title>CoronaClass</title>
  </head>
  <body>
    <div class="wrapper">
      <form action="/update" method="POST">
        <div>
          <h4>Change my user name</h4>
          <label>email</label> <input type="text" name="email" />
        </div>
        <div><label>user name</label> <input type="text" name="oldName" /></div>
        <div><label>new name</label> <input type="text" name="newName" /></div>
        <div><input class="btn" type="submit" value="update" /></div>
      </form>

      <form action="/delete" method="POST">
        <div>
          <h4>Delete my account</h4>
          <label>email</label> <input type="text" name="email" />
        </div>
        <div><input class="btn" type="submit" value="delete" /></div>
      </form>

      <a href="/login"><button>Return</button></a>
    </div>
  </body>
</html>
